:root {
    --color-font: #333;
    --color-white: #eceff4;
    --color-white-grey: #d8dee9;
    --color-darkerblue: #242933;
    --color-darkblue: #2e3440;
    --color-blue: #434c5e;
    --color-lightblue: #5e81ac;
    --color-red: #bf616a;

    --border-radius: 10px;
    --box-shadow: rgba(15, 17, 21, 0.2) 0px 3px 6px 0px;
}

* {
    margin: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h2 {
    font-size: 1rem;
    text-align: center;
    color: var(--color-white-grey);
    writing-mode: sideways-lr;
}

@media screen and (min-width: 800px) {
    h2 {
        font-size: 1.4rem;
        margin-bottom: .5rem;
        margin-top: .5rem;
        writing-mode: initial;
    }
}

input[type="checkbox"][id^="checkbox"] {
    display: none;
}

/* Main */
#map {
    background-color: var(--color-darkerblue);
    height: 100vh;
}

.pathline {
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
}

.main {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 70px;
    z-index: 10000;
}

@media screen and (min-width: 800px) {
    .main {
        top: 3vh;
        left: 0;
        right: unset;
        bottom: unset;
    }
}

.main_button {
    border: none;
    background-color: var(--color-blue);
    border-radius: 0 var(--border-radius) var(--border-radius) 0; 
    color: var(--color-white);
    height: 45px;
    width: 25px;
    padding-right: 5px;
}

.main_button::after {
    content: "<";
}

.main_button--hidden {
    left: -280px;
}

.main_button--hidden::after {
    content: ">";
}

.menu {
    box-shadow: var(--box-shadow);
    color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    left: 0;
    transition: left 1s;
}

@media screen and (min-width: 800px) {
    .menu {
        border-radius: 0 0 var(--border-radius) 0;
        width: 280px;
    }
}

.menu--show {
    left: 0;
    transition: left 1s;
}

@media screen and (min-width: 800px) {
    .menu--show {
        left: 0;
    }
}

.menu--hidden {
    left: -200px;
    transition: left 1s;
}

@media screen and (min-width: 800px) {
    .menu--hidden {
        left: -280px;
    }
}

.menu__header {
    background-color: var(--color-darkblue);
    border-top-right-radius: var(--border-radius);
    padding: .2rem 0;
    text-align: center;
    z-index: 10;
    width: 200px;
}

@media screen and (min-width: 800px) {
    .menu__header {
        box-shadow: var(--box-shadow);
        border-radius: 0;
        padding: .5rem 0;
        width: 100%;
    }
}

.menu__header-title {
    font-size: 1.6rem;
}

@media screen and (min-width: 800px) {
    .menu__header-title {
        font-size: 2rem;
    }
}

.menu__header-description {
    font-size: .7rem;
}

.menu__paths {
    background-color: var(--color-blue);
    transition: transform 1s;
    height: 90px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1rem;
}

@media screen and (min-width: 800px) {
    .menu__paths {
        display: block;
        height: 100%;
        padding-bottom: 1rem;
        overflow: hidden;
        gap: unset;
    }
}


.menu_credits {
    font-size: .7rem;
    margin: 1rem;
}

.pathsgrid {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .pathsgrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: unset;
    }
}

.pathsgrid__image {
    border-radius: 50%;
}

.pathsgrid__card {
    text-align: center;
}

.pathsgrid__description {
    font-size: .7rem;
}

.pathsgrid__label {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: .7rem;
}

.pathsgrid__label img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    border: 2px solid transparent;
}

:checked + .pathsgrid__label:before {
    content: "✓";
    position: absolute;
    right: 0;
    color: var(--color-darkerblue);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-white);
}

@media screen and (min-width: 800px) {
    :checked + .pathsgrid__label:before {
        right: 20px;
    }
}

:checked + .pathsgrid__label img {
    border: 2px solid var(--color-white);
}

.update {
    margin-top: 1rem;
    text-align: center;
}

.update__text {
    display: block;
    font-size: .7rem;
    background-color: var(--color-darkerblue);
    padding: .2rem .8rem;
    border-radius: var(--border-radius);
}

@media screen and (min-width: 800px) {
    .update__text {
        display: inline;
    }
}

.credit {
    font-size: .7rem;
    text-align: center;
    margin-top: 1rem;
    opacity: .7;
    display: none;
}

@media screen and (min-width: 800px) {
    .credit {
        display: initial;
    }
}

/* Section: Range Select */
.rangeselect {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 1000;
}

@media screen and (min-width: 800px) {
    .rangeselect {
        bottom: 10px;
    }
}

.rangeselect__wrapper {
    background: var(--color-blue);
    border-radius: none;
    color: var(--color-white);
    margin: auto;
    padding: 1rem 2rem;
    width: 100%;
    height: 70px;
}

@media screen and (min-width: 800px) {
    .rangeselect__wrapper {
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        padding: 1rem 3rem;
        height: 60px;
        width: 80%;
    }
}

/* Footer */
.footer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

@media screen and (min-width: 800px) {
    .footer {
        top: unset;
        left: unset;
        bottom: 0;
        right: 0;
    }
}

.footer__social {
    padding: .5rem;
    text-align: right;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

@media screen and (min-width: 800px) {
    .footer__social {
        flex-direction: column;
    }
}

.footer__social div {
    opacity: .5;
    transition: opacity .5s;
}

.footer__social div:hover {
    opacity: 1;
}

/* Leaflet override */
.tooltip-image-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    width: 300px;
    height: 166px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
    .tooltip-image-wrapper {
        width: 400px;
    }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: var(--color-darkblue);
	color: var(--color-white);
	box-shadow: var(--box-shadow);
}

.tooltip-content {
    margin: 1rem;
}
.tooltip-moreinfo {
    margin: 1rem 0;
}

.tooltip-header {
    text-align: center;
    margin-bottom: 1rem;
}

.tooltip-tag {
    display: inline;
    background-color: var(--color-lightblue);
    padding: .2rem .8rem;
    font-size: .7rem;
    border-radius: var(--border-radius);
    margin: 0 .4rem;
}

.tooltip-tag--unconfirmed {
    background-color: var(--color-red);
}

.tooltip-moreinfo a::before {
    content: '→ ';
}
.tooltip-resize {
    margin-right: 1rem;
}
.tooltip-resize img {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
    opacity: 0.5;
    transition: opacity .4s;
}

.tooltip-resize img:hover {
    opacity: 1;
}

.tooltip-seenin {
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: .7rem;
    border-top: 1px dashed var(--color-blue);
}

/* Nouislider override */

.noUi-target {
    box-shadow: none;
    border: none;
    color: black;
}

.noUi-handle {
    box-shadow: none;
    background-color: var(--color-darkerblue);
}

.noUi-connect {
    background-color: var(--color-lightblue);
}

.noUi-value-sub {
    color: var(--color-white);
    rotate: -15deg;
    margin-top: 5px;
    font-size: .7rem;
}

@media screen and (min-width: 800px) {
    .noUi-value-sub {
        rotate: none;
    }
}

.noUi-marker-sub {
    background-color: var(--color-white-grey);
}

.noUi-pips-horizontal {
    padding: 0;
}

.noUi-horizontal {
    height: 10px;
}

.noUi-horizontal .noUi-handle {
    height: 24px;
    top: -7px;
}

.noUi-handle::after, .noUi-handle::before {
    height: 10px;
}