:root {
    --color-font: #333;
    --color-white: #eceff4;
    --color-white-grey: #d8dee9;
    --color-darkerblue: #242933;
    --color-darkblue: #2e3440;
    --color-blue: #434c5e;
    --color-lightblue: #5e81ac;
    --color-red: #bf616a;

    --border-radius: 10px;
    --box-shadow: rgba(15, 17, 21, 0.2) 0px 3px 6px 0px;
}

* {
    margin: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-white-grey);
    margin-bottom: .5rem;
}

input[type="checkbox"][id^="checkbox"] {
    display: none;
}

#map {
    background-color: var(--color-darkerblue);
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 3vh;
    left: 0;
    z-index: 10000;
}

.main_button {
    border: none;
    background-color: var(--color-blue);
    border-radius: 0 var(--border-radius) var(--border-radius) 0; 
    color: var(--color-white);
    height: 45px;
    width: 25px;
    padding-right: 5px;
}

.main_button::after {
    content: "<";
}

.main_button--hidden {
    left: -280px;
}

.main_button--hidden::after {
    content: ">";
}

.menu {
    border-radius: 0 0 var(--border-radius) 0;
    box-shadow: var(--box-shadow);
    color: var(--color-white);
    background-color: #2e3440;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 200px;
    left: 0;
    transition: left 1s;
}

@media screen and (min-width: 800px) {
    .menu {
        width: 280px;
    }
}

.menu--show {
    left: 0;
    transition: left 1s;
}

@media screen and (min-width: 800px) {
    .menu--show {
        left: 0;
    }
}

.menu--hidden {
    left: -200px;
    transition: left 1s;
}

@media screen and (min-width: 800px) {
    .menu--hidden {
        left: -280px;
    }
}

.menu__header {
    box-shadow: var(--box-shadow);
    padding: .5rem 0;
    text-align: center;
    z-index: 10;
}

.menu__header-title {
    font-size: 2rem;
}

.menu__header-description {
    font-size: .7rem;
}

.menu__paths {
    background-color: var(--color-blue);
    padding: 1rem 0;
    transition: transform 1s;
}

.menu_credits {
    font-size: .7rem;
    margin: 1rem;
}

.pathsgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
}

@media screen and (min-width: 800px) {
    .pathsgrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.pathsgrid__image {
    border-radius: 50%;
}

.pathsgrid__card {
    text-align: center;
}

.pathsgrid__description {
    font-size: .7rem;
}

.pathsgrid__label {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: .7rem;
}

.pathsgrid__label img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    border: 2px solid transparent;
}

:checked + .pathsgrid__label:before {
    content: "✓";
    position: absolute;
    right: 20px;
    color: var(--color-darkerblue);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-white);
}

:checked + .pathsgrid__label img {
    border: 2px solid var(--color-white);
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    font-size: .6rem;
}

.footer__copyright {
    background-color: var(--color-darkblue);
    color: var(--color-white);
    padding: .2rem .5rem;
    border-top-left-radius: 5px;
    text-align: center;
}

.footer__github {
    padding: .5rem;
    text-align: right;
}

/* Leaflet override */
.tooltip-image-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    width: 300px;
    height: 166px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
    .tooltip-image-wrapper {
        width: 400px;
    }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: var(--color-darkblue);
	color: var(--color-white);
	box-shadow: var(--box-shadow);
}

.tooltip-content {
    margin: 1rem;
}
.tooltip-moreinfo {
    margin: 1rem 0;
}

.tooltip-header {
    text-align: center;
    margin-bottom: 1rem;
}

.tooltip-tag {
    display: inline;
    background-color: var(--color-lightblue);
    padding: .2rem .8rem;
    font-size: .7rem;
    border-radius: var(--border-radius);
    margin: 0 .4rem;
}

.tooltip-tag--unconfirmed {
    background-color: var(--color-red);
}

.tooltip-moreinfo a::before {
    content: '→ ';
}
.tooltip-resize {
    margin-right: 1rem;
}
.tooltip-resize img {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
    opacity: 0.5;
    transition: opacity .4s;
}

.tooltip-resize img:hover {
    opacity: 1;
}

.tooltip-seenin {
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: .7rem;
    border-top: 1px dashed var(--color-blue);
}